https://{$HTTP_HOSTNAME}

log {
  format console
}

reverse_proxy /api/* {$API_SERVER}
reverse_proxy /apidocs/* {$API_SERVER}
reverse_proxy /apispec*.json {$API_SERVER}
reverse_proxy /flasgger_static/* {$API_SERVER}

file_server {
    root /site
}
