.ql-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
}

.ql-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}

.ql-editor {
  min-height: 200px;
}

.quill:hover .ql-toolbar {
  border-left-color: black;
  border-right-color: black;
  border-top-color: black;
}

.quill:hover .ql-container {
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
}

.quill.active .ql-editor {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 11px;
  min-height: 199px;
}

.quill.active .ql-toolbar {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-left-color: blue;
  border-right-color: blue;
  border-top-color: blue;
}

.quill.active .ql-container {
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-color: blue;
  border-right-color: blue;
  border-bottom-color: blue;
}
